/* Start Slider */
.slider {
    width: 100%;
	height: 350px;
	background: url(../img/smoke/slider.png) 40% 100% no-repeat;
	background-size: cover;
}
.slider_border {
	font-size: 16px;
	width: 290px;
	height: 55px;
    background: #EE4E25;
	padding-top: 5px;
	padding-left: 20px;
	color: #fff;
}
.slider_one {
	color: #fff;
	font-size: 60px;
	font-weight: bold;
	margin-top: 40px;
	margin-bottom: -20px;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #000;
}
.slider_two {
	font-size: 60px;
	font-weight: bold;
	text-shadow: 1px 1px 1px #000;
	text-transform: uppercase;
}
.slider_three {
	font-size: 14px;
}
.slider_cons {
	padding-left: 180px;
	padding-top: 30px;
	padding-bottom: 30px;
}
.slider_dline {
	padding-top: 25px;
	text-transform: uppercase;
	color: #37383A;
	font-size: 20px;
  }
.slider_po{
	font-size:13px;
	height: 25px;
	width: 268px;
	color:#000000;
}
.slider_t{
	margin-top: 25px;
	text-transform: uppercase;
	border: 0px;
	border-bottom: 5px solid #206135;
	padding: 13px 90px 9px;
	color: #fff;
	background-color: rgba(26, 142, 69, 1);
	font-size: 15px;
}
.slider-form {
    background-color: rgba(146, 191, 198, 0.6);
}
/* Finish Slider */
/* ----------------------------------------------------------------------------------------------------------------------------- */
/* Start Как мы работаем ? */
.how_we_are_working {
	width: 100%;
	height: 100%;
	background: #fff;
	padding-top: 30px;
	padding-bottom: 50px;
}
.how_we_are_working_h2 {
	padding-bottom: 30px;
}
/* Finish Slider */
/* ----------------------------------------------------------------------------------------------------------------------------- */
/* Start Bg-1 */
.bg_one_bg img {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}
.bg_one {
	padding-top: 30px;
	padding-bottom: 70px;
	color: #fff;
    width: 100%;
	height: 100%;
	background: url(../img/smoke/bg-1.png);
	background-size: cover;
}
.bg_one_double {
	padding-top: 30px;
	padding-bottom: 70px;
	color: #fff;
    width: 100%;
	height: 100%;
	background: url(../img/smoke/bg-1.png);
	background-size: cover;
}
.bg_one_mobile {
	padding-top: 30px;
	padding-bottom: 70px;
	color: #fff;
    width: 100%;
	height: 100%;
	background: url(../img/smoke/bg-1.png);
	background-size: cover;
}
.bg_one_h2 {
	padding-bottom: 40px;
}
.bg_one_color {
	color: #65C25D;
}
.bg_one_p {
	padding-top: 30px;
	color: #c3c2c2;
}
.bg_one_mobile_p {
	margin-top: 10px;
}
.bg_onecolor {
	color: #000;
}
/* Finish Bg-1 */
/* ----------------------------------------------------------------------------------------------------------------------------- */
/* Start Телефон */
.phone {
	padding-top: 70px;
	background: #fff;
	padding-bottom: 50px;
}
.phone_p_one {
	font-size: 18px;
	margin-top: -10px;
}
.phone_p_two {
	font-size: 30px;
	color: #EE5028;
	font-weight: bold;
}
.phone_p_three {
	font-size: 14px;
	margin-top: -14px;
}
/* Finish Телефон */
/* Start bg-3 */
.bg_three {
	padding-top: 70px;
	padding-bottom: 70px;
	color: #DCDCDC;
    width: 100%;
	height: 100%;
	background: url(../img/smoke/bg-2.png);
	background-size: cover;
	line-height: 1.2em;
	font-size: 13px;
	background-position: center center;
}
.leftimg {
    float:left;
    margin: 7px 7px 7px 0;
}
.rightimg  {
    float: right;
    margin: 7px 0 7px 7px;
}
.bg_three_right {
	text-align: right;
}
.bg_three_center {
	padding-top: 70px;
}
.bg_three_pad {
	padding-top: 30px;
	padding-bottom: 70px;
	color: #DCDCDC;
    width: 100%;
	height: 100%;
	background: url(../img/smoke/bg-2.png);
	background-size: cover;
	line-height: 1.2em;
	font-size: 13px;
	background-position: 50% 50%;
}
.bg_three_div_pad {
	padding-left: 20%;
}
.bg_three_center_pad {
	padding-bottom: 50px;
	margin-top: 40px;
	text-align: center;
}
.bg_three_p_pad {
	padding-top: 20px;
	overflow: hidden;
	margin-top: 30px;
}
.bg_three_left {
	padding-top: -10px;
    float:left;
    margin: 7px 7px 7px 0;
}
.bg_three_left_padding {
	padding-bottom: 5px;
}
/* Finish bg-3 */
/* ----------------------------------------------------------------------------------------------------------------------------- */
/* Start Преимущества работы */
.work {
	padding-top: 50px;
	padding-bottom: 70px;
}
.work_h2 {
	padding-bottom: 50px;
}
.work_p {
	padding-top: 20px;
}
.work_div {
	width: 20%;
}
/* ---------------------------------------------------------- */
.work_double {
	padding-top: 50px;
	padding-bottom: 40px;
}
.work_h2 {
	padding-bottom: 50px;
}
.work_p {
	padding-top: 20px;
}
.work_double_padding {
	padding-top: 50px;
}
/* Finish Преимущества работы */
/* ----------------------------------------------------------------------------------------------------------------------------- */
/* Start Довженко */
.dovjenko {
	padding-top: 30px;
	padding-bottom: 40px;
	color: #fff;
    width: 100%;
	height: 100%;
	background: url(../img/smoke/bg-3.png);
	background-size: cover;
}
.dovjenko_p_one {
	font-style: italic;
	color: #d8d7d7;
	padding-bottom: 30px;
	padding-top: 30px;
}
.dovjenko_p_two {
	font-weight: bold;
	margin-top: -30px;
	padding-bottom: 20px;
}
/* Finish Довженко */
/* ----------------------------------------------------------------------------------------------------------------------------- */
/* Start Что происходит,когда бросают курить ? */
.whats_happening {
	padding-top: 30px;
	padding-bottom: 60px;
	color: #fff;
    width: 100%;
	height: 100%;
	background: url(../img/smoke/bg-4.png);
	background-size: cover;
	background-position: 70% 10%;
}
.whats_happening_pad {
	padding-top: 30px;
	padding-bottom: 60px;
	color: #fff;
    width: 100%;
	height: 100%;
	background: url(../img/smoke/bg-4.png);
	background-size: cover;
	background-position: 41% 11%;
}
.whats_happening_h2_one {
	font-size: 100%;
	color: #fff;
}
.whats_happening_h2_two {
	font-size: 160%;
	color: #65C25D;
	font-weight: bold;
	text-transform: uppercase;
	padding-bottom: 50px;
}
.whats_happening_div {
	padding: 0;
	width: 12.5%;
	font-size: 12px;
}
.whats_happening_padding {
	padding-top: 150px;
	padding-bottom: 50px;
}
.whats_happening_div_one {
	margin-top: -76px;
}
.whats_happening_div_two {
	margin-top: 30px;
}
.whats_happening_div_three {
	margin-top: -58px;
}
.whats_happening_div_four {
	margin-top: 29px;
}
.whats_happening_div_five {
	margin-top: -127px;
}
.whats_happening_div_six {
	margin-top: 28px;
}
.whats_happening_div_seven {
	margin-top: -110px;
}
.whats_happening_div_eight {
	margin-top: 29px;
}
/* Finish Что происходит,когда бросают курить ? */
@media (min-width: 1200px) {
.footer_br {
    display: none;
}
.work_double {
	display: none;
}
.bg_one_double {
	display: none;
}
.bg_one_mobile {
	display: none;
}
.bg_three_pad {
	display: none;
}
.slider_br {
	display: none;
}
.whats_happening_pad {
	display: none;
}
}
@media (min-width: 994px) and (max-width: 1200px) {
.bg_three_pad {
	display: none;
}
.whats_happening_div_one {
	margin-top: -73px;
}
.whats_happening_div_two {
	margin-top: 49px;
}
.whats_happening_div_three {
	margin-top: -56px;
}
.slider_br {
	display: none;
}
.footer_br {
    display: none;
}
.footer_tel {
	font-size: 24px;
}
.whats_happening_div_four {
	margin-top: 50px;
}
.whats_happening_div_five {
	margin-top: -107px;
}
.whats_happening_div_six {
	margin-top: 49px;
}
.whats_happening_pad {
	display: none;
}
.whats_happening_div_seven {
	margin-top: -140px;
}
.bg_one_p_one {
	padding-right: 90px;
}
.bg_one_p_two {
	padding-right: 45px;
}
.bg_one_p_three {
	padding-left: 40px;
}
.bg_one_p_four {
	padding-left: 122px;
}
.whats_happening_div_eight {
	margin-top: 50px;
}
.work {
	display: none;
}
.slider_cons {
	padding-left: 60px;
}
.bg_one_color {
	color: #65C25D;
}
.bg_one_double {
	display: none;
}
.bg_one_mobile {
	display: none;
}
}
@media (min-width: 768px) and (max-width: 994px) {
.bg_three {
	display: none;
}
.slider_br {
	display: none;
}
.footer_br {
    display: none;
}
.bg_three_pad_div {
	padding-left: 100px;
}
.whats_happening {
	display: none;
}
.slider_cons {
	padding-left: 0px;
}
.work {
	display: none;
}
.bg_one_color {
	color: #65C25D;
}
.bg_onecolor {
	color: #65C25D;
}
.bg_one_p_one {
	padding-right: 90px;
}
.bg_one_p_two {
	padding-right: 30px;
}
.bg_one_p_three {
	padding-left: 40px;
}
.bg_one_p_four {
	padding-left: 67px;
}
.slider {
	font-size: 90%;
}
.slider_border {
	font-size: 110%;
}
.pad_footer {
	display: none;
}
.bg_one_double {
	display: none;
}
.slider_two {
	font-size: 45px;
}
.slider_one {
	font-size: 45px;
}
.bg_one_mobile {
	display: none;
}
}
@media (min-width: 514px) and (max-width: 768px) {
.slider_one {
    font-size: 50px;
    margin-top: 25px;
    margin-bottom: -20px;
}
.slider_br {
	display: none;
}
.footer_br {
    display: none;
}
.slider_two {
    font-size: 50px;
}
.bg_one_color {
	color: #65C25D;
}
.bg_three_pad {
	background: #06191E;
}
.whats_happening_pad {
	background: #06191E;
}
.work {
	display: none;
}
.bg_three_pad_div {
	padding-left: 40px;
}
.whats_happening {
	display: none;
}
.bg_onecolor {
	color: #65C25D;
}
.work_double_padding {
	padding-top: 0px;
}
.slider_cons {
	display: none;
}
.bg_three {
	display: none;
}
.slider {
	font-size: 80%;
}
.slider_border {
 font-size: 16px;
}
.slider_three {
    padding-bottom: 30px;
    padding-top: 30px;
}
.bg_two_color {
	color: #66C25D;
}
.bg_one_h2 {
    padding-bottom: 50px;
}
.bg_one_double {
    padding-bottom: 80px;
}
.bg_three_pad {
    padding-top: 10px;
}
.bg_three_pad_div {
    padding-left: 140px;
}
.bg_one {
	display: none;
}
.bg_one_mobile {
	display: none;
}
}
@media (min-width: 400px) and (max-width: 514px) {
.whats_happening {
	display: none;
}
.bg_three_div_pad {
	padding-left: 0%;
}
.header_three {
	display: none;
}
.slider {
    width: 100%;
	height: 100%;
	background: url(../img/smoke/slider.png) 46% 100% no-repeat;
	background-size: cover;
}
.slider_one {
	margin-bottom: -5px;
	margin-top: 20px;
    font-size: 38px;
}
.slider_three {
	padding-top: 10px;
    padding-bottom: 20px;
}
.slider_two {
    font-size: 38px;
}
.bg_three_pad {
	background: #06191E;
}
.whats_happening_pad {
	background: #06191E;
}
.bg_one_color {
	color: #65C25D;
}
.container-fluid {
    padding-left: 0px;
}
.bg_onecolor {
	color: #65C25D;
}
.bg_three_p_pad {
    padding-top: 12px;
}
.bg_three {
	display: none;
}
.work {
	display: none;
}
.slider_cons {
	display: none;
}
.slider {
	font-size: 70%;
}
.slider_border {
 font-size: 14px;
}
.bg_one {
	display: none;
}
.bg_one_double {
	display: none;
}
}
@media (min-width: 0px) and (max-width: 400px) {
.bg_three_pad {
	background: #06191E;
}
.bg_three_p_pad {
    padding-top: 12px;
}
.whats_happening {
	display: none;
}
.bg_three_div_pad {
	padding-left: 0%;
}
.work {
	display: none;
}
.slider_cons {
	display: none;
}
.bg_three {
	display: none;
}
.bg_onecolor {
	color: #65C25D;
}
.bg_one_color {
	color: #65C25D;
}
.whats_happening_pad {
	background: #06191E;
}
.slider {
	font-size: 80%;
}
.bg_one {
	display: none;
}
.bg_one_double {
	display: none;
}
.slider {
	font-size: 80%;
}
.slider_one {
	font-size: 35px;
	padding-top: 10px;
	line-height: 1.2em;
	margin-top: -7px;
}
.slider_two {
	font-size: 35px;
	padding-top: 10px;
	line-height: 1em;
}
.slider_border {
	font-size: 12px;
    width: 203px;
    height: 45px;
}
.slider {
    width: 100%;
	height: 100%;
	background: url(../img/smoke/slider.png) 50% 100% no-repeat;
	background-size: cover;
}
}